@charset "utf-8";

/* 效果CSS开始 */
.slider{display:none}/*用于获取更加体验*/
.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:#666;font-size:0}
.focus span.current{background:#fff}
/* 效果CSS结束 */
